.titulo {
  margin-top: 30px;
  text-align: center;
  font-family: verdana;
  color: #4285f4;
  background-color: #22df48;
  font-size: 40px; }

.parrafo {
  text-align: center;
  margin-top: 30px;
  font-size: 30px; }

.formulario {
  margin-top: 30px;
  border: solid;
  width: 100%; }

.columnas-filas {
  margin-top: 20px;
  border: double;
  width: 100%; }

.producto {
  margin-top: 30px;
  border: solid; }

.observacion {
  text-align: center;
  margin-top: 20px;
  font-size: 20px; }

.enviar {
  margin-top: 20px;
  border: double;
  background: yellow; }

.copy, contacto, nosotros {
  background-color: #8989e8;
  margin-top: 20px; }

.iconos {
  color: black;
  margin-top: 20px; }

formulario {
  display: flex;
  justify-content: 368px;
  align-items: 368px;
  flex-wrap: nowrap; }

.titulo {
  margin-top: 30px;
  text-align: center;
  font-family: verdana;
  color: #4285f4;
  background-color: #22df48;
  font-size: 40px; }

.parrafo {
  text-align: center;
  margin-top: 30px;
  font-size: 30px; }

.formulario {
  margin-top: 30px;
  border: solid;
  width: 100%; }

.columnas-filas {
  margin-top: 20px;
  border: double;
  width: 100%; }

.producto {
  margin-top: 30px;
  border: solid; }

.observacion {
  text-align: center;
  margin-top: 20px;
  font-size: 20px; }

.enviar {
  margin-top: 20px;
  border: double;
  background: yellow; }

.copy, contacto, nosotros {
  background-color: #8989e8;
  margin-top: 20px; }

.iconos {
  color: black;
  margin-top: 20px; }

.titulo {
  margin-top: 30px;
  text-align: center;
  font-family: verdana;
  color: #4285f4;
  background-color: #22df48;
  font-size: 40px; }

.parrafo {
  text-align: center;
  margin-top: 30px;
  font-size: 30px; }

.formulario {
  margin-top: 30px;
  border: solid;
  width: 100%; }

.columnas-filas {
  margin-top: 20px;
  border: double;
  width: 100%; }

.producto {
  margin-top: 30px;
  border: solid; }

.observacion {
  text-align: center;
  margin-top: 20px;
  font-size: 20px; }

.enviar {
  margin-top: 20px;
  border: double;
  background: yellow; }

.copy, contacto, nosotros {
  background-color: #8989e8;
  margin-top: 20px; }

.iconos {
  color: black;
  margin-top: 20px; }

.titulo {
  margin-top: 30px;
  text-align: center;
  font-family: verdana;
  color: #4285f4;
  background-color: #22df48;
  font-size: 40px; }

.parrafo {
  text-align: center;
  margin-top: 30px;
  font-size: 30px; }

.formulario {
  margin-top: 30px;
  border: solid;
  width: 100%; }

.columnas-filas {
  margin-top: 20px;
  border: double;
  width: 100%; }

.producto {
  margin-top: 30px;
  border: solid; }

.observacion {
  text-align: center;
  margin-top: 20px;
  font-size: 20px; }

.enviar {
  margin-top: 20px;
  border: double;
  background: yellow; }

.copy, contacto, nosotros {
  background-color: #8989e8;
  margin-top: 20px; }

.iconos {
  color: black;
  margin-top: 20px; }

