$size: 30px;
$size1: 20px;
$s2: 40px;
$ancho:100%;
$ancho2: 400px;
$fondo-de-color: gray;
$fondo-de-color2: rgb(137, 137, 232);
$vista: 1024px;
$vistaMobile: 368px;
$vistaDesktop: 768px;
$tipo-de-letra: verdana;
$color1: red;
$color2: #4285f4;
$color3: yellow;
$color4: rgb(34, 223, 72);
$color5: white;
$color6:blue;
$color7:black; 
$alinear-al-centro: center;
$footer: rgb(155, 155, 224);
$h1Desktop: 25px;
$espacio: 30px;
$espacio2: 20px; 
$widthnav: 200px;
$bordes: dotted;
$bordes2: solid;
$bordes3: double;
